@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Young+Serif&display=swap');
html {
  height: 100%;
  width: 100%;
}
.button{
  padding: 6px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius:6px ;
font-size: 25px;
  width: 50px;
  cursor: pointer;
}
.row{
  margin: 6px;
}
.row input{
  margin: 0;
  padding: 4px 32px;
  border: 2px solid black;
  border-radius: 5px;
  font-size:14px;
}
